.wrapper {
    background-color: rgb(12, 12, 112);
    
}


.form{
    height: 100%;
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
   
}

.form input {
    padding: 20px;
    margin:15px;
    width: 30%;
    
}

 .btn {
    margin: 80px;
    background-color: rgb(17, 255, 29);
    border-radius: 30px;
    border: none;
    outline: rgb(1, 184, 245);
    cursor: pointer;
    
}

